@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Quicksand:wght@400;600&display=swap');

@import '~bootstrap/scss/bootstrap';
@import './Table.scss';
@import './Activity.scss';

* {
    font-family: 'Quicksand';
}

#chat-log {
    border: 1px solid grey;
    height: 300px;
    width: 300px;
    overflow-y: scroll;
}

#buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.user {
    font-weight: bold;
}