@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Quicksand:wght@400;600&display=swap');

@import '~bootstrap/scss/bootstrap';
@import './Table.scss';
@import './Activity.scss';

* {
    font-family: 'Quicksand';
}

h1, h2, h3, h4 {
    font-family: 'Bungee', cursive;
    color: white;
}

html,
body,
#root,
#App {
    height: 100vh;
}

body {
    background-color: rgb(22, 27, 36);
}


.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#game-title {
    font-size: 5em;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}

#chat-title {
    color: white;
    background-color: rgb(23, 32, 53);
}

#chat-wrapper {
    width: 250px;
    height: 400px;
    margin-top: 55px;
}

#chat-log {
    border: 1px solid grey;
    height: 300px;
    width: 250px;
    overflow-y: scroll;
    background-color:#fff;
}

#buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.user {
    font-weight: bold;
}