table {
    border-spacing: 2;
    padding: 20px;
    text-align: center;
  }
  
  table caption {
    font-size: 1.5em;
    color: #171717;
    caption-side: top;
  }
  
  td {
    width: 2rem;
    height: 2rem;
    color: rgba(0,0,0,0.5);
    margin: 5px;
    border: 0.5px solid white;
    border-radius: 5px;
  }
  
  td.user {
    background-color: #a1d0df;
    &:hover{
      background-color: #032530;
      color: white;
    } 
  }
  
  td.opponent {
    background-color: #0f4355;
    &:hover{
      background-color: #032530;
      color: white;
    }
  }
  
  .strike {
    background-color: #550f0f !important;
  }

  @media screen and(min-width: 768px) {
    td {
      width: 3rem;
      height: 3rem;
    }
  }