table {
    border-spacing: 2;
    padding: 20px;
    text-align: center;
  }
  
  table caption {
    font-size: 1.5em;
    color: #fff;
    caption-side: top;
  }
  
  td {
    width: 2rem;
    height: 2rem;
    color: rgb(255, 255, 255);
    margin: 5px;
    border: 0.5px solid rgb(255, 255, 255);
    font-size: 1.5em;
  }


  th {
    color: rgb(228, 255, 255);
    padding: 10px;
  }
  
  td.user {
    //background-color: #a1d0df;
    background-color: rgb(152, 183, 186);
    // &:hover{
    //   background-color: #032530;
    //   color: white;
    // } 
  }
  
  td.opponent {
    //cursor: url('../images/cursor-aim.png');
    cursor: pointer;
    background-color: #3b6e7e;
    &:hover{
      background-color: #344e57;
      color: white;
    }
  }
  
  .disabled {
    pointer-events: none;
  }

  .ships-left {
    font-size: 0.8em;
    color: #ededed;
  }

  @media screen and(min-width: 768px) {
    td {
      width: 3rem;
      height: 3rem;
    }
  }